{{template "header" .}}
{{template "navbar" .}}


{{if .missing}}
<div class="row">
    <div class="alert alert-danger">
        <strong>Failed!</strong> Artikel nicht gefunden!!.
    </div>
</div>
{{end}}
<div class="row">
    <p class="produktetopic">Verfügbare Speisen (Bestseller)</p>
</div>
<div class="row">
    <form class="col-md-3">
        <fieldset class="kasten_Produkte">


            <legend class="speiseliste">Speisenliste filtern</legend>

            <select class="kategorien" name="Kategorie">
                <option value="Kat">Kategorien</option>
                <option value="FG">Fleischgerichte</option>
                <option value="GG">Gemüsegerichte</option>
                <option value="FiG">Fischgerichte</option>
            </select>

            <br /><br />
            <ul class="ul3">
                <li class="list3">
                    <label>
                        <input type="checkbox" name="filter" value="verfügbar">
                        nur verfügbare
                    </label>
                </li>
                <li class="list3">
                    <label>
                        <input type="checkbox" name="filter" value="vegetarisch">
                        nur vegetarische
                    </label>
                </li>
                <li class="list3">
                    <label>
                        <input type="checkbox" name="filter" value="vegan">
                        nur vegane
                    </label>
                </li>
            </ul>

            <br />

            <button type="button" class="btn2">Speisen filtern</button>

        </fieldset>
    </form>

    <div class="col-md-9">
        <div class="row">
            {{range $k,$v:=.products}}

            <div class="col-md-3" id="{{$v.ID}}">
                <img src="static/images/food.png" alt="TODO:v.Name.Bild.Altext" class="bildgroesse">
                <p class="bildschrift">{{$v.Name}}<br /><a href="Detail?product_id={{$v.ID}}">Details</a></p>
            </div>

            {{end}}

        </div>
    </div>
</div>


{{template "footer" .}}
