{{template "header" .}}
{{template "navbar" .}}


<div class="row">
    <p class="produktetopic">Verfügbare Speisen (Bestseller)</p>
</div>
<div class="row">
    <form class="col-md-3">
        <fieldset class="kasten_Produkte">


            <legend class="speiseliste">Speisenliste filtern</legend>

            <select class="kategorien" name="Kategorie">
                <option value="Kat">Kategorien</option>
                <option value="FG">Fleischgerichte</option>
                <option value="GG">Gemüsegerichte</option>
                <option value="FiG">Fischgerichte</option>
            </select>

            <br /><br />
            <ul class="ul3">
                <li class="list3">
                    <label>
                        <input type="checkbox" name="filter" value="verfügbar">
                        nur verfügbare
                    </label>
                </li>
                <li class="list3">
                    <label>
                        <input type="checkbox" name="filter" value="vegetarisch">
                        nur vegetarische
                    </label>
                </li>
                <li class="list3">
                    <label>
                        <input type="checkbox" name="filter" value="vegan">
                        nur vegane
                    </label>
                </li>
            </ul>

            <br />

            <button type="button" class="btn2">Speisen filtern</button>

        </fieldset>
    </form>

    <div class="col-md-9">
        <div class="row">

            <div class="col-md-3" id="1.1">
                <img src="static/images/food.png" alt="Curry Wok" class="bildgroesse">
                <p class="bildschrift">Curry Wok<br /><a href="Detail?product_id=1">Details</a></p>
            </div>

        </div>
    </div>
</div>


{{template "footer" .}}
