.row {
    margin-top: 20px;
}
#headerrow {
    border-bottom: solid;
}
#headertopic {
    font-size: 200%;
    font-weight: 700;
    margin-top:10px;
}
.ulheader {
    margin: 0;
    padding: 0;
}

.listheader {
    float: left;
    list-style: none;
    margin:auto;
    padding: 5px 10px;
    border-right:solid;
}

#suchleiste {

    margin-top:15px;
    margin-left:180px;
}

#rowfooter{
    border-top:solid;
}
#footercopy{
    margin-top:20px;
}
.ulfooter {
    margin: 0;
    padding: 0;
}
.listfooter{
    float:left;
    list-style:none;
    border-right:solid;
    margin:auto;
    padding:5px 10px;
}


#startgrosserkasten {
    margin-left: 0px;
    border-right: solid;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    height: 80px;
    background-color: grey;
    padding-left: 0px;
    padding-right: 0px;
}

#startgrosserkasten img {
    width: 100%;
    height: 100%;
}

.btnstart {
    border: ridge;
    width: 150px;
    height:40px;
}

#startkleinerkasten {
    border-right: solid;
    border-left: solid;
    border-top: solid;
    border-bottom: solid;
    height: 120px;
    background-color: grey;
    padding-left: 0px;
    padding-right: 0px;
}

#startkleinerkasten img {
    width: 100%;
    height: 100%;
}


.col-md-6 {
    float: left;
    width: 400px;
    padding: 20px 0;
}


.produktetopic{
    font-size:170%;
    text-align:center;
}




.speiseliste{
    text-align:center;
    font-size:15px;
    margin-bottom:0px;
    border-bottom:0px;
}

.kasten_Produkte{
    height:300px;
    border:solid;
    padding:10px;
    width:200px;
}

.kastendetailsbild {
    padding-left: 0px;
    padding-right: 0px;
}

.kastendetailsbild img {
    width: 100%;
    height: 100%;
}

.kategorien{
    width:70%;
   padding: 7px 10px;
   margin-left:25px;
}

.list3{
    list-style:none;
    margin-left:-15px;
    width:100%;
    font-size:small;
}
.btn2{
    border:ridge;
    margin-left:30px;
}

.bildgroesse{
    height:90px;
    width:110px;
    margin-left:40px;
}
.bildschrift{
    text-align:center;
}
.detailstopic{
    font-size:170%;
    text-align:center;
}
#kastendetails{
    border-top:solid;
    border-right:solid;
    border-bottom:solid;
    border-left:solid;
    background-color:grey;
    height:148px;
    width:600px;
}
.loginkasten{
    margin-top:-32px;
    text-align:left;
    border:solid;
    height:180px;
    width:220px;
    padding:10px;
}
.login{
    padding:20px;
    text-align:left;
    margin-bottom:0;
    border-bottom:0;
    font-size:20px;
    width:90px;
}
.preis{
    text-align:right;
    font-size:20px;
}
.btnvorbestellen{
    margin-top:40px;
    margin-left:40px;
    height:40px;
    width:150px;
    border:ridge;
}
.anmeldentext{
    margin-left:35px;
}

a{
    color:#00b5ad;
}
a:hover {
        color: #00b5ad;
    }
.bemerkung{
    margin-left:30px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.vertical-offset-md-1 {
  margin-top: 1em;
}


.vertical-offset-md-2 {
  margin-top: 2em;
}
