{{template "header" .}}
{{template "navbar" .}}


{{if .error}}
<div class="row">
  <div class="alert alert-danger">
    <strong>Failed!</strong> username and/or password invalid!!.
  </div>
</div>
{{end}}


{{if .signedIn}}
<div class="row">
  <div class="alert alert-success">
    <strong>Success!</strong> Eingabe gültig!!.
</div>
<div class="row vertical-offset-md-4">
    <div class="col-md-2">
        <a href="SignOff">Ausloggen!</a>
    </div>
</div>
</div>
{{else}}
<div class="row vertical-offset-md-1">
  <div class="col-md-3" >
  </div>
  <div class="col-md-7">
      <form role="form" method="post" action="SignIn">
      <h2>Please Sign In <small>It's free and always will be.</small></h2>
      <div class="row">
        <div class="form-group col-md-10 offset-md-0">
          <input type="text" name="login_name" id="login_name" class="form-control input-lg" value="{{.login_name}}" placeholder="Username" tabindex="1">
        </div>
        <div class="form-group col-md-10 offset-md-0">
          <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="2">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
            <span class="button-checkbox">
                <label><input type="checkbox" name="t_and_c" id="t_and_c" class="" value="0" data-error="Before you wreck yourself" tabindex="3"> Keep me Signd In</label>
          </span>
        </div>
        <div class="col-md-7">
          By clicking <strong class="label label-primary"></strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
        </div>
      </div>
      <div class="row">
        <div class="col-md-5"><input type="submit" value="Sign Me In" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
        <div class="col-md-5"><a href="SignUp" class="btn btn-success btn-block btn-lg">Sign Up Here</a></div>
      </div>
    </form>
  </div>
</div>
<div class="row vertical-offset-md-2">
</div>
</div>
{{end}}
{{template "footer" .}}
