<header>
  <nav class="navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <ul class="nav navbar-nav navbar">
          <li>
            <a style="color: #00b5ad" href="">Start</a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Produkte <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a style="color: #00b5ad" href="">Alle Speisen</a>
                <a style="color: #00b5ad" href="">Index</a>
                <a style="color: #00b5ad" href="">Produkte</a>
              </li>
              <hr style="margin: .1em .5em"/>
              <li>
                <a style="color: #00b5ad" href="">Schnitzel</a>
              </li>
              <li>
                <a style="color: #00b5ad" href="">Auflauf</a>
              </li>
              <li>
                <a style="color: #00b5ad" href="">Sushi</a>
              </li>
              <li>
                <a style="color: #00b5ad" href="">Wok</a>
              </li>
            </ul>  <!-- drop menu -->
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="http://www.fh-aachen.de" target="_blank">FH Aachen</a>
          </li>
        </ul>
        <form class="navbar-form navbar-right" method="get" action="http://www.google.de/search" target="_blank">
          <div class="form-group">
            <input name="q" type="text" class="form-control" placeholder="FH Suche">
            <input name="as_sitesearch" type="hidden" value="http://www.fh-aachen.de">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </nav>
</header>
