{{template "header" .}}
{{template "navbar" .}}


        <div class="row">
            <div class="col-md-12" id="startgrosserkasten"></div>
        </div>
        <div class="row">
            <div class="col-md-3"><p>Der Dienst <strong>e-Mensa</strong> ist<br />noch beta. Sie können <br />bereits <a href="Produkte.html">Mahlzeiten</a><br />durchstöbern, aber noch <br />nicht bestellen.</p></div>
            <div class="col-md-6"><p class="top1">Leckere Gerichte vorbestellen</p><p>...und gemeinsam mit Kommilitonen und Freunden essen.</p></div>
            <div class="col-md-3"><button type="button" class="btnstart"><i class="fa fa-hand-o-right"></i> Registrieren</button><br /><br /><button type="button" class="btnstart"><i class="fa fa-sign-in"> Anmelden</i></button></div>
        </div>
        <div class="row">
            <div class="col-md-3"><p>Registieren Sie sich<br /><a href="">hier,</a> um über die<br />Veröffentlichung des<br />Dienstes per Mail<br />informiert zu werden.</p></div>
            <div class="col-md-9" id="startkleinerkasten"></div>
        </div>



{{template "footer" .}}
