{{template "header" .}}
{{template "navbar" .}}

<div class="row">
  <div class="col-md-12">
    <div class="bs-docs-section">
      <h1 id="kontakt">Kontaktinformationen</h1>
      <address>
        <strong>No Body</strong><br>
        Milky Way 42<br>
        1337 Solar System<br>
        <abbr title="Telefonnummer">Tel.</abbr> +4 8 15 16 23 42<br>
        <abbr title="Email-Adresse">Email</abbr> <a href="mailto:noreply@fh-aachen.de">noreply@fh-aachen.de</a>
      </address>
    </div>
  </div>
</div>

{{template "footer" .}}
