<footer>
    <div class="row" id="rowfooter">
        <div class="col-md-2" id="footercopy"><p>&copy;FK 2017/18</p></div>
        <div class="col-md-6">
            <ul class="ulfooter">
                <li class="listfooter"><a href="SignIn">Login</a></li>
                <li class="listfooter"><a href="SignUp">Registrieren</a></li>
                <li class="listfooter"><a href="Ingredients">Zutatenliste</a></li>
                <li class="listfooter"><a href="Impressum">Impressum</a></li>
            </ul>
        </div>
    </div>
</footer>
</main>
<!-- <script src="/static/scripts/custom.js"></script> -->
  </body>
</html>
