<footer>
    <div class="row" id="rowfooter">
        <div class="col-md-2" id="footercopy"><p>&copy;FK 2017/18</p></div>
        <div class="col-md-6">
            <ul class="ulfooter">
                <li class="listfooter"><a href="">Login</a></li>
                <li class="listfooter"><a href="">Registrieren</a></li>
                <li class="listfooter"><a href="">Zutatenliste</a></li>
                <li class="listfooter"><a href="Impressum.html">Impressum</a></li>
            </ul>
        </div>
    </div>
</footer>
</main>
  </body>
</html>
