<fieldset class="kasten_Produkte">
    <form action="Success" method="post">
        <legend class="login">Login</legend>
        <legend class="speiseliste">Speisenliste filtern</legend>
        <label>
            <input type="text" class="form-control" name="login_name" placeholder="Benutzer" />
        </label>
        <label>
            <input type="password" class="form-control" name="password" placeholder="********" />
        </label>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</fieldset>
