<body>
    <main class="container">
        <header>
            <div class="row" id="headerrow">
                <div class="col-md-2" id="headertopic"><p>e-Mensa</p></div>
                <div class="col-md-6">
                    <ul class="ulheader">
                        <li class="listheader"><a href="Home">Start</a></li>
                        <li class="listheader"><a href="Produkte">Mahlzeiten</a></li>
                        <li class="listheader"><a href="#">Bestellungen</a></li>
                        <li class="listheader"><a href="https://www.fh-aachen.de" target="_blank">FH-Aachen</a></li>
                    </ul>
                </div>
                <div class="col-md-4" id="suchleiste">
                    <form class="navbar-form navbar-right" method="get" action="http://www.google.de/search" target="_blank">
                        <div class="form-group">
                            <input name="q" type="text" class="form-control" placeholder="FH Suche">
                            <input name="as_sitesearch" type="hidden" value="http://www.fh-aachen.de">
                        </div>
                        <button type="submit" class="btn btn-default" style="display: none;">Submit</button>
                    </form>
                </div>
            </div>
            </div>
        </header>
